p {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.col{
    background-color: #D3D3D3;
    margin: 10px;
    display:flex;
    align-items:center;
    justify-content:Center;
}
.row.row-cols-2{
    display:flex;
    align-items:center;
    justify-content:Center;
}
