p {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.col{
    background-color: #D3D3D3;
    margin: 10px;
    display:flex;
    align-items:center;
    justify-content:Center;
}
.row{
    display:flex;
    align-items:center;
    justify-content:Center;
}
.row{
    display:flex;
    align-items:center;
    justify-content:Center;
}
#homeBox{
    display:flex;
    align-items:center;
    justify-content:Center;
    padding-left: 25%;
}