<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>

  <link rel="stylesheet" href="css/2dMapStyle.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body class="container">
  <header>
    <%- include('./partials/header'); %>
    <div>
      <label for="filter">Filter by type:</label>
      <select id="filter">
        <option value="">All</option>
        <option value="Young">Young</option>
        <option value="Middle">Middle Aged</option>
        <option value="Old">Old</option>
      </select>
      <!-- <button onclick="GetCustomer()">Get Customer</button> -->
      <button id="toggleSIMD">Toggle SIMD Layer</button>
      <select id="filterSIMD">
        <option value="General">General Rank</option>
        <option value="Health">Health Rank</option>
        <option value="Education">Education Rank</option>
        <option value="Income">Income Rank</option>
        <option value="GeographicAccess">GCC Rank</option>
      </select>
      <label for="rankThreshold">Show areas with Rank less than: </label>
      <input type="range" id="rankThreshold" min="1" max="6976" value="6976" step="1">
      <span id="rankValue">6976</span>
    </div>
  </header>
  <main>
    <div class="jumbotron" id="map" style="height: 600px;"></div>
  </main>
  <footer>
  <%- include('./partials/footer'); %>
  </footer>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
  <script src="https://unpkg.com/@turf/turf@^7/turf.min.js"></script>
  <script src = "http://localhost:8080/js/databaseClientSide.js" defer></script>
  <script src="js/map.js"></script>

</body>
</html>