<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">


<main>
    <div class="jumbotron">
        <%- include('./partials/header'); %>
        <h1>404</h1>
        <p>This page does not exist</p>
    </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>