<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <script src = "http://localhost:8080/js/databaseClientSide.js" defer></script>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div>
    <button onclick="Populate()">Test</button>
    <button onclick="Get()">Get</button>
    <p id="result">Unchanged</p>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>