<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  

</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div>
    <button onclick="Populate()">Test</button>
    <button onclick="Get()">Get</button>
    <p id="result">Unchanged</p>
  </div>

  <form id="CSVinfo" enctype="multipart/form-data">
    <p>
      <label for="CSV">Upload a CSV file</label>
      <input type="file" id="CSV" name="CSV" />
    </p>
    <input type="submit" value="Submit" />
  </form>

  <div id="message"></div>
</main>

<footer>
  <%- include('./partials/footer'); %>
  
</footer>

<script src = "js/databaseClientSide.js" defer></script>
</body>
</html>