<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="yup">
    <h1>This is meant to be a login page</h1>
    <p>Please log in</p>
  </div>
  <form action="/login" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>login</button>
</form>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>