<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
    <div class="yup">
        <h1>This is meant to be a register page</h1>
        <p>Welcome to templating using EJS</p>
    </div>
<form action="/register" method="POST">
    <input type="text" name="username" 
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>Register</button>
</form>

</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>