<!DOCTYPE html>
<html lang="en">
<head>
0.180.0
  <script type="module" src=js/3dMap.js></script>
  <%- include('./partials/head'); %>
</head>
<body class="container">
<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="yup">
    <h1>This is meant to be a test page</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>

<footer class="container">
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>